.col-md-2 {
    padding: 0px;
}

img {
    width: 100%;
}

body {
    background-color: #19b2ff; /* bg blue */
    background-image: url(/img/bg.png); /* White gradient circle on bg blue */
    background-repeat: no-repeat;
    background-size: cover; /* Stretching bg to fill width */
    max-width: 1400px; /* Setting max page width */
    margin-left: auto;
    margin-right: auto;
    font-family: Sans-serif, Arial, "Sans-serif";
    color: blue;
}

#header {
    color: white;
}
    #logo {
        max-width: 320px;
    }
    
    /* Links at the top of the page */
    #headerLinks {
        color: black;
        text-align: center;
    }
        a {
            color: black;
            float: left;
        }
            a:hover {
                color: #b3c033; /* CS green */
                text-decoration: none;
            }
            
            a:focus {
                outline: none;
            }
    
    /* Navigation at the top of the page */
    .navButtonHorizontal {
        width: 100%;
        max-width: 229px;
    	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#BBB));
    	background: -moz-linear-gradient(top, #FFF, #BBB);
        color: #555;
        float: left;
        height: 40px;
        border: 2px;
    }
        .navButtonHorizontal:hover {
            background: #CCC;
        }

.row {
    margin: 0px;
}

.col-md-12 {
    padding: 0px;
}

/* Vertical navigation bar below slideshow */
#navVertical {
    }
    .navButtonVertical {
        max-width: 215px;
        width: 96%;
        color: #333;
        border: 0px;
        padding: 2%;
    	background: -webkit-gradient(linear, left top, left bottom, from(#CCC), to(#AAA));
    	background: -moz-linear-gradient(top, #DDD, #BBB);
    }
        .navButtonVertical:hover {
            background: #BBB;
        }

/* Content of pages */
table {
    width: 100%;
    border-radius: 0px;
}
    .page {
        width: 100%;
        vertical-align: top;
        height: 500px;
        visibility: collapse;
        color: #FFF;
    }

#poll {
    color: #333;
}
    #poll button {
        position: absolute;
        right: 50%;
    }

#footer {
    color: #CCC;
    text-align: center;
}


