h3 {
    color: white;
}

h4 {
    color: white;
}

img {
    width: 100%;
}

body {
    background-color: #19b2ff; /* bg blue */
    background-image: url(img/bg.png); /* White gradient circle on bg blue */
    background-repeat: no-repeat;
    background-size: cover; /* Stretching bg to fill width */
    max-width: 970px; /* Setting max page width */
    margin-left: auto;
    margin-right: auto;
    font-family: Sans-serif, Arial, "Sans-serif";
}

.nav {
    float: left;
    max-width: 30%;
}
    #logo {
        width: 100%;
    }
    
    .navButton {
        color: white;
        background: none; /* Removing background shading */
        padding: 0px; /* Removing space between text and outline */
        border: none; /* Removing button outline */
        
        /*transform: translate(50%, 90%);*/
    }
        .navButton:hover {
            color: #FF0;
        }
        
        .navButton:focus {
            outline: none;
        }

table {
    width: 100%;
    background: RGBa(256, 256, 256, 0.3);
    color: black;
    border-radius: 10px; /* Rounding corners */
}
    .page {
        visibility: collapse;
    }
        .pageSection100 {
            margin: 1%;
            max-width: 98%;
            float: left;
        }
        
        .pageSection50 {
            margin: 1%;
            max-width: 48%;
            float: left;
        }

#footer {
    text-align: center;
    color: white;
}